<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All Players</h1>
      <ul class="list-group mb-3">
        <% @players.each do |player| %>
          <li class="list-group-item">
            <%= link_to player.full_name, player_path(player) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Player", new_player_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
