.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  text-decoration: none;
}

.card-index {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: black;
    display: grid;
    transition: transform .3s;
    padding-bottom: 70px;
  }

  .card-index img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-index h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }

  .card-index p {
    font-size: 20px;
    opacity: .7;
    margin: 5px;
    background: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    color: gray;
    padding: 4px 8px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: -20px;
  }

.card-product {
  overflow: hidden;
  height: 120px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform .3s;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-products {

  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product:hover {
  transform: scale(1.1);
}

.card-index:hover {
  transform: scale(1.2);
}

.card-index-body {
  padding: 25px;
}

.card-index-title {
  color: black;
}

.card-index-text p {
  color: black;
}

.card-player-info {
  position: absolute;
  padding: 1px;
}

.card-index-title {
  position: relative;
  top: -30px;
}
