.container-index {
  background-image: url(https://img.freepik.com/free-vector/gradient-style-football-field-background_23-2148995842.jpg), width 100%;

  color: rgb(255, 255, 255);
  font-weight: 400;
}
