// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.container {
  background-color: rgb(29, 97, 29);
  color: white;
  font-weight: 400;
}

.row {
  background-color: rgb(29, 97, 29);
}
